.sidebar {
color:red;
Width:100px;
display: block;
Background-color:transparent;
Margin:10px;
Margin-left:10px;
Padding:20px;
max-Width:100 px;
Float:left;
}

.sidelink {
Background-color: #90ee90;
}
