.sidebar {
Position:fixed;
color:red;
Width:100px;
display: block;
Background-color:transparent;
Margin:10px;
Margin-left:10px;
Padding:20px;
max-Width:100 px;
Float:left;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #22f5ce;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: lilac;
    color: #22f5ce;
}

.content {
    padding: 20px;
}