video {
  display: block;
  margin: auto;
}

.sidebar {
Position:fixed;
color:red;
Width:100px;
display: block;
Background-color:transparent;
Margin:10px;
Margin-left:10px;
Padding:20px;
max-Width:100 px;
Float:left;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 3px;
}

.sidebar ul li a:hover {
    background-color: #22f5ce;
    color: white;
}

.sidebar ul li a, a:link, a:visited {
    color: red;
    text-decoration: none;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.wrapper {
  padding: 20px;
  outline: 1px dotted gray;
  font-size: 20px;
  margin: 20px;
}

.item {
  max-width: 100%;
}

.item + .item {
  margin-top: -1px;
}

.item__video {
  
}

.item {
  display: flex;
  
  &::before {
    content: '';
    flex: var(--pusher-grow, 1) 1 auto;
    max-width: 40%;
  }
  
  &::after {
    content: '';
    flex: var(--puller-grow, 1) 1 auto;
    max-width: 40%;
  }
}


.content {
    padding: 20px;
}